@import '../variables.css';

#pps-container {
    padding: 10px;
    background-color: var(--backgroundDark);
    margin: 10px auto;
    border-radius: 4%/6%;
    max-width: 280px;
    width: fit-content;
}

#pps-icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#pps-icon {
    width: 4vmin;
    height: 4vmin;
    margin-left: 0;
}

#pps-icon-number {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 8px;
}

#pps-text {
    text-align: left;
    font-size: 2vmin;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--textColorWhite);
}